body {
  height: 6700px;
  font-family: 'Raleway', sans-serif;
}

div {
  position: fixed;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-size: 30px;
  
}

img {
  margin-top: -200px;  
}

.intro{
	background-image: url(./images/macintosh.png);
	position: center;
}


@media only screen and (min-height: 500px) {
  svg {
    top: 50%;
    min-height: none;
  }
  .ole { 
    top: 80%;
  }

}
