body {
  height: 8000px;
  font-family: 'Raleway', sans-serif;
}

div {
  position: fixed;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-size: 30px;
  
}

img {
  margin-top: -200px;  
}

.zoom{
	position: center;
}

.intro{
	background-image: url(./images/macintosh.png);
	background-position: center;
}
