body {
  height: 8000px;
  width: 2000px;
  font-family: 'Raleway', sans-serif;
}

div {
  position: fixed;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-size: 30px;
  
}

.btnRaccourciScreen{
  position: absolute;
  top : 40%;
  left: 39%;
}

.intro{
  background-image: url(./images/macintosh.png);
  background-position: center;

}


.container img {
  width: 100%;
  height: 100%;

}

.container1{
  z-index: 50;
  top: 22%;
  left:30%;
  right: 34%;

  border: 4px solid #000;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.container{
  z-index: 1;
  width:100%;
  height: 100%;
}


